.images {  
  margin-top: 20px;
  max-width: 1020px;
}

.images img {
  border: 1px solid #aaa;
  padding: 2px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-right: 14px;
}

.images {
  display: flex;
}

.images .media  {
  display: flex;
  position:relative;
}

.ui-sortable-helper img {
  padding: 0; 
  border: 0;
  box-shadow: 2px 2px 15px 1px #666;
}

.images button {
  position: absolute;
  right: 20px;
  top: 6px;
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  display:none;
}

.images button:hover {
  cursor: pointer;
}

.images .media:hover button {
  display:block;
}